<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <h1>Results</h1>
    <p>First Name: <%= Output.fname %></p><br>
    <p>Last Name: <%= Output.lname %></p><br>
    <p>Age: <%= Output.age %></p><br>
    <p>Email: <%= Output.email %></p><br>
</body>
</body>
</html>