<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cat Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!---CDN Links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1>&nbsp;&nbsp;The Dojo Message Board:</h1>
    
    <form id="form" action="/addPost" method="post">
       
        <div class="form-group">
            <label for="msg">Message:</label><br>
            <textarea id="vtop" class="text form-control" name="text" id="text"></textarea>        
        </div>   
    
        <button type="submit" class="btn btn-default">Post Message</button>
    
    </form>  

    <% if(typeof(errors) != 'undefined' ) { %>
    
        <% for (var j in errors) { %>
            <h3><%= errors[j].message %></h3>
        <% } %>
    <% } else { %>

        <table id = "main" class="table">
            <% posts.forEach(function (post) { %>                
                <tr>
                    <td>Post: <%= post.text %></td> <!-- note you defined the field as Name not name -->                 
                </tr>
                <% post.comments.forEach(function (comment) { %>  
                    <tr>
                        <td>Comment: <%= comment.ctext %></td> <!-- note you defined the field as Name not name -->                 
                    </tr>
                <% }) %>
                
                <tr>
                    <td>
                        <form id="form" action="/addComm/<%=post._id%>" method="post">
                            <div class="form-group">
                                    <label for="comm">Comment:</label><br>
                                    <textarea id="comm" class="form-control" name="ctext"></textarea>        
                            </div>   
                        
                            <button type="submit" class="btn btn-default">Add a Comment</button>
                        </form>
                    </td>
                </tr> 
            <% }) %>        
        </table>

    <% } %>
        
   


    
    
</body>
</html>