
<p>
  
</p>

<div id='main'>
    <a [routerLink]="['/Home']">Home</a><br><br>
    <h5>Add a new quote</h5>
    <form #addquote="ngForm" id="custom" (submit)="onSubmit()">
        
        <label>Quote:</label>
        
        <input 
            type="text" 
            name="quote" 
            required
            minlength="8"
            maxlength="40"
            [(ngModel)]="newQuote.quote"
            #quote="ngModel"> 
            
        <button class="btn btn-primary btn-sm" [routerLink]="['/Home']">Cancel</button>
        <button class="btn btn-primary btn-sm" [disabled]= 'addquote.invalid' type="submit" value="Submit">Submit</button>

        <p *ngIf="!quote.valid" >Invalid Quote</p>
        <p *ngIf="quote.valid">Quote is all good</p>


    </form>
</div>
  
