
<div id='main'>
    <p><a [routerLink]="['/Home']">Home</a></p>  <br>  
    <p>Add a new quotable author</p>

    <form #addauth="ngForm" id="custom" (submit)="onSubmit()">
        <label>Name:</label>
        <input 
            type="text" 
            name="newAuthor.name" 
            required
            minlength="8"
            maxlength="40"
            [(ngModel)]="newAuthor.name"
            #name="ngModel"
        > 
        
        <button class="btn btn-primary btn-sm" [routerLink]="['/Home']">Cancel</button>
        <button class="btn btn-primary btn-sm" [disabled]= 'addauth.invalid' type="submit" value="Submit">Submit</button>
    </form>
    
    <p *ngIf="!name.valid" >Enter name please</p>

 
</div>
  
