<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    
</head>
<body>
    <h1>Cats</h1>
    <img style = "height: 400px; width: 400px" src="/images/adorable-cat1.jpg">
    <img style = "height: 400px; width: 400px" src="/images/adorable-cat2.jpeg">
    <img style = "height: 400px; width: 400px" src="/images/adorable-cat3.jpeg">
</body>
</html>